html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
    width: 100%;
}

main {
    margin: 8px auto;
    max-width: 90%;
    width: 80ch;
}

p {
    line-height: calc(1ex / 0.32);
    text-align: justify;
}