#root {
    display: flex;
    justify-content: center;
    /* margin: 20px; */
}

/* GRID */

#grid .grid-rect {
    stroke: rgb(229, 229, 229);
    fill: rgb(255, 255, 255);
}

#grid .grid-hline,
#grid .grid-vline {
    stroke: rgb(247,248,248)
}

#grid .grid-hline-alternate,
#grid .grid-vline-alternate {
    stroke: rgb(229,229,229)
}

/* BLOCK: HEADER / FOOTER */

.block .body-top .grid-rect,
.block .body-bot .grid-rect {
    stroke: rgb(174,138,180);
    fill: rgb(188,26,105);
}

.block .body-top .grid-hline,
.block .body-bot .grid-hline {
    stroke: rgb(221,140,180);
}

.block .body-top .grid-vline,
.block .body-bot .grid-vline {
    stroke: rgb(174,138,180);
}

.block .body-top text,
.block .body-bot text {
    stroke: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
}

/* BLOCK: BODY */

.block .body-mid .grid-rect {
    stroke: rgb(101,197,219);
    fill: rgb(25,156,194);
}

.block .body-mid .grid-hline {
    stroke: rgb(37,166,201);
}

.block .body-mid .grid-vline {
    stroke: rgb(37,166,201);
}

.block .body-mid text {
    stroke: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
}

/* CONTROLS */

.block .offset-control {
    cursor: w-resize;
    fill: rgb(85,209,229);
    stroke: rgb(85,209,229);
}

.block .outline {
    fill: rgba(255, 255, 255, 0);
    stroke: rgb(156, 151, 151);
    stroke-dasharray: 6;
    stroke-width: 2;
}

.block .width-control {
    cursor: w-resize;
    fill: rgb(85,209,229);
    stroke: rgb(85,209,229);
}

.block .quantity-control {
    fill: rgb(85,209,229);
    stroke: rgb(85,209,229);
}